/* src/components/MovingCards.css */

@keyframes scroll-slow {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-scroll-slow {
    animation: scroll-slow 120s linear infinite;
  }
  
  .scroller:hover .animate-scroll-slow {
    animation-play-state: paused;
  }